<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISessionManagement" maxBufferSize="10485760"
          maxReceivedMessageSize="10485760" maxBufferPoolSize="10485760">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IUserManagement" maxBufferSize="10485760"
          maxReceivedMessageSize="10485760" >
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IAccessManagement" maxBufferSize="10485760"
          maxReceivedMessageSize="10485760" maxBufferPoolSize="10485760" >
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IRemoteRecorderManagement">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://coursecast.devdomain.soton.ac.uk/Panopto/PublicAPISSL/4.2/SessionManagement.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionManagement"
        contract="PanoptoSessionManagement.ISessionManagement" name="BasicHttpBinding_ISessionManagement" />
      <endpoint address="https://coursecast.devdomain.soton.ac.uk/Panopto/PublicAPISSL/4.2/UserManagement.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserManagement"
        contract="PanoptoUserManagement.IUserManagement" name="BasicHttpBinding_IUserManagement" />
      <endpoint address="https://coursecast.devdomain.soton.ac.uk/Panopto/PublicAPISSL/4.2/AccessManagement.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccessManagement"
        contract="PanoptoAccessManagement.IAccessManagement" name="BasicHttpBinding_IAccessManagement" />
      <endpoint address="https://coursecast.devdomain.soton.ac.uk/Panopto/PublicAPISSL/4.2/RemoteRecorderManagement.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteRecorderManagement"
        contract="PanoptoRemoteRecorderManagement.IRemoteRecorderManagement"
        name="BasicHttpBinding_IRemoteRecorderManagement" />
    </client>
  </system.serviceModel>
</configuration>
